<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.eventlotterysystem">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />


    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <!-- If you're using internet access for ML Kit or other services -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EventLotterySystem"
        tools:targetApi="31">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".EventslistActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".NotificationActivity" />
        <activity android:name=".Landing_page" />
        <activity android:name=".facilityActivity" />
        <activity android:name=".ManageEventActivity" />
        <activity android:name=".SettingActivity" />
        <activity android:name=".WaitingListManageActivity" />
        <activity android:name=".ChosenListManageActivity" />
        <activity android:name=".CancelledListManageActivity" />
        <activity android:name=".FinalListManageActivity" />
        <activity android:name=".ViewEventActivity" />
        <activity android:name=".ScanQRActivity" />
        <activity android:name=".ViewOtherUserProfileActivity" />

    </application>

</manifest>